:root {
    --primary-font: 'Open sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #FF6C00;
    --clean-white: #ffffff;
    --description-color: #9DA4BD;
    --opacity-description-color: rgba(157, 164, 189, 0.6);
    --title-color: #303030;
    --secondary-par: #555555;


}


h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


body {
  letter-spacing: 0.02em;
  font-family: var(--primary-font);
  color: var(--slate-body-text-color);
}



.vissually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }


/*---------------------- MOBILE VER ----------------------*/
/*---------------------- HEADER ----------------------*/

.container {
  padding-right: 31px;
  padding-left: 31px;
}

.header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;


  background-color: #000;
  
}

.logo-header {
  fill: var(--clean-white)
}

.mobile-menu__open-btn {
  background: #FF6C00;
}

.header__list {
  display: none;
}

.header__tel {
  display: none;
}

.header__btn {
  display: none;
}


.mobile-menu__open-btn {
  position: absolute;

  top: 48px;
  right: 31px;
}


/*---------------------- /HEADER ----------------------*/

/*---------------------- HERO ----------------------*/
.hero {
  background-color: aqua;
}

.hero__list {
  display: none;
}

.flip {
  display: none;
}


/*---------------------- /HERO ----------------------*/

/*---------------------- ABOUT ----------------------*/

.about {
  

  background-color: #FF6C00;
}


/*---------------------- /ABOUT ----------------------*/

/*---------------------- PRICES ----------------------*/

.prices {
  background-color: red;
}

/*---------------------- /PRICES ----------------------*/

/*---------------------- ADVANTAGES ----------------------*/

.advantages {
  background-color: green;
}

/*---------------------- /ADVANTAGES ----------------------*/

/*---------------------- TEAM ----------------------*/

.team {
  background-color: chartreuse;
}

/*---------------------- /TEAM ----------------------*/

/*---------------------- EXAMPLES ----------------------*/

.examples {
  background-color: brown;
}

/*---------------------- /EXAMPLES ----------------------*/

/*---------------------- FOOTER ----------------------*/

.footer {
  background-color: darkcyan;
}

/*---------------------- /FOOTER ----------------------*/

/*---------------------- /MOBILE VER ----------------------*/





/*---------------------- TABLET VER ----------------------*/

/*---------------------- HEADER ----------------------*/

.mobile-menu__open-btn {
  background: #FF6C00;
}

/*---------------------- /HEADER ----------------------*/

/*---------------------- HERO ----------------------*/



/*---------------------- /HERO ----------------------*/

/*---------------------- ABOUT ----------------------*/



/*---------------------- /ABOUT ----------------------*/

/*---------------------- PRICES ----------------------*/



/*---------------------- /PRICES ----------------------*/

/*---------------------- ADVANTAGES ----------------------*/



/*---------------------- /ADVANTAGES ----------------------*/

/*---------------------- TEAM ----------------------*/



/*---------------------- /TEAM ----------------------*/

/*---------------------- EXAMPLES ----------------------*/



/*---------------------- /EXAMPLES ----------------------*/

/*---------------------- FOOTER ----------------------*/


/*---------------------- /FOOTER ----------------------*/

/*---------------------- /TABLET VER ----------------------*/





/*---------------------- DESKTOP VER ----------------------*/

/*---------------------- HEADER ----------------------*/

.mobile-menu__open-btn {
  background: #FF6C00;
}

/*---------------------- /HEADER ----------------------*/

/*---------------------- HERO ----------------------*/



/*---------------------- /HERO ----------------------*/

/*---------------------- ABOUT ----------------------*/



/*---------------------- /ABOUT ----------------------*/

/*---------------------- PRICES ----------------------*/



/*---------------------- /PRICES ----------------------*/

/*---------------------- ADVANTAGES ----------------------*/



/*---------------------- /ADVANTAGES ----------------------*/

/*---------------------- TEAM ----------------------*/



/*---------------------- /TEAM ----------------------*/

/*---------------------- EXAMPLES ----------------------*/



/*---------------------- /EXAMPLES ----------------------*/

/*---------------------- FOOTER ----------------------*/


/*---------------------- /FOOTER ----------------------*/

/*---------------------- /DESKTOP VER ----------------------*/






































/*---------------------- HEADER ----------------------*/



/*---------------------- /HEADER ----------------------*/

/*---------------------- HERO ----------------------*/



/*---------------------- /HERO ----------------------*/

/*---------------------- ABOUT ----------------------*/



/*---------------------- /ABOUT ----------------------*/

/*---------------------- PRICES ----------------------*/



/*---------------------- /PRICES ----------------------*/

/*---------------------- ADVANTAGES ----------------------*/



/*---------------------- /ADVANTAGES ----------------------*/

/*---------------------- TEAM ----------------------*/



/*---------------------- /TEAM ----------------------*/

/*---------------------- EXAMPLES ----------------------*/



/*---------------------- /EXAMPLES ----------------------*/

/*---------------------- FOOTER ----------------------*/


/*---------------------- /FOOTER ----------------------*/
